# requirements.txt

Flask==1.0.2
gunicorn==19.9.0

# You'll probably need to update this later
# https://github.com/SeleniumHQ/selenium/releases
selenium==3.141.0

# You'll probably need to update this later
# https://github.com/danielkaiser/python-chromedriver-binary/tags
chromedriver-binary==v85.0.4183.87.0 